.body {
  background-image: url(../img/banner.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item {
  background-color: #262936;
  min-height: 50vh;
  border-radius: 10px;
  line-height: 30px;
  padding-bottom: 30px;
}
.item2 {
  background-color: #1e202b;
}
